<h1>Merci de confirmer votre mail</h1>

<p>
    Confirmez votre mail en cliquant sur ce lien :<br><br>
    <a href="{{ signedUrl|raw }}">confirmation</a>.
    Ce lien expire dans {{ expiresAt|date('g') }} heure(s).
</p>
