<form method="post" class="form-kyosc" action="{{ path('clan_invite', {id: clan.id}) }}">
    <label for="email-invite"></label>
    <input type="hidden" name="token" value="{{ csrf_token('clan-invite') }}"/>
    <input id="email-invite" type="text" name="email" placeholder="Mail" required>
    <button class="btn btn-profil">Inviter</button>
</form>
