{% extends 'base.html.twig' %}

{% block title %}New Clan{% endblock %}

{% block body %}
    <h1>Create new Clan</h1>

    {{ include('clan/_form.html.twig') }}

    <a href="{{ path('clan_index') }}">back to list</a>
{% endblock %}
