@import 'variables';
@import 'drawermenu';
@import 'homepage';
@import '~bootstrap/scss/bootstrap';
@import 'breakpoint';
@import 'arrow';
@import 'challengeShow';
@import "errors";
@import 'form';
@import 'carousel';
@import 'footer';
@import 'checkbox';
@import 'cookie_consent';
@import 'about';
@import 'clan';
@import 'message';

.cursor-pointer {
    cursor: pointer;
}

h1, h2 {
    font-family: $title;
    text-align: center;
}

body {
    font-family: $font-text;
    display: flex;
    flex-direction: column;
    min-height: 190vh;
}

.text-korange {
    color: theme-color-level('korange');
}

.text-kred {
    color: theme-color-level('kred');
}

.text-kgreen {
    color: theme-color-level('kgreen');
}

.text-kblue {
    color: theme-color-level('kblue');
}

.logo {
    height: auto;
    width: 60px;
}

.logo-challenge {
    background-color: white;
    min-width: 200px;
    padding: 5px 10px;
    width: 15%;

    @include md {
        padding: 5px 25px;
        width: 22%;
        max-height: 200px;
        max-width: 300px;
    }
}

.transparent-background-light {
    background-color: $transparent-light;
    border-radius: 20px;
}

.transparent-background-dark {
    background-color: $transparent-black;
    border-radius: 20px;
    color: $light;
}

.transparent-background-round-darker {
    background-color: $transparent-dark;
    border-radius: 50px;
}

.big-padding {
    padding: 45px;
}

.challenge-index-title {
    flex: auto;

    @include md {
        font-size: 3em;
    }
}

.fit-content {
    width: fit-content;
}

.arrow-background {
    background-color: theme-color-level('arrowBackground');
    clip-path: polygon(50% 0, 100% 10%, 100% 100%, 50% 90%, 0 100%, 0 10%);
    height: 100%;
    position: absolute;
    top: 90%;
    width: 100%;
    z-index: -1000;
}

.white-circle-img-goutte {
    background-color: #fff;
    border-radius: 50%;
    height: 32px;
    left: 14px;
    padding: 5px;
    position: absolute;
    top: 24px;
    width: 28px;
}

.img-goutte-index {
    height: auto;
    left: 7px;
    position: absolute;
    top: 5px;
    width: 40px;
}

.no-bg-border {
    background-color: transparent;
    border: unset;
}

.text-muted {
    color: theme-color-level('kblue-typo');
    font-family: $title;
    font-size: 16px;
    font-weight: 100;
}

.col-form-label {
    color: black;
    text-align: center;
}

.img-picto {
    background-color: white;
    border: 3px solid;
    border-radius: 50%;
    height: auto;
    left: 7px;
    position: absolute;
    padding: 5px;
    top: 10px;
    width: 40px;
}

.title-date-card {
    height: 30px;
    left: 15%;
    line-height: 30px;
    min-width: 70%;
    position: absolute;
    top: -5%;
    z-index: 200;
}

.no-bg-border {
    border: unset;
    background-color: transparent;
}

.avatar {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}

.biography-text {
    font-size: 1.4em;
}

.background-grey {
    background-color: theme-color-level('grey');
    margin-bottom: -25px;
    margin-top: 25px;
}

.avatar-testimony {
    max-width: 60px;
    max-height: 100px;
    border-radius: 50%;
}

.challenge-photo-container {
    max-height: 275px;
}

.challenge-photo-container-profil {
    max-height: 200px;
}

.email-verif-popup {
    border-radius: 25px;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 18vh;
    z-index: 500;
}

.email-flash-popup {
    border-radius: 25px;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 24vh;
    z-index: 500;
    animation: hide 1s linear 3s 1 forwards;
}

@keyframes hide {
    to {
        opacity: 0;
    }
}

.close-picto {
    width: 20px;
    transition-duration: 300ms;

    &:hover {
        transform: scale(1.4);
    }
}

.hide-before-scroll {
    opacity: 0;
    transform: translateY(6em);
    transition: transform 1s .25s,
    opacity .3s .25s ease-out;
    will-change: transform, opacity;
}

.is-visible {
    opacity: 1;
    transform: translateY(0em);
}

.close-picto {
    cursor: pointer;
}

.index-card-max-width {
    max-width: 400px;
}

.profil-container {
    max-width: 90vw;
}
