@import "breakpoint";

.arrow {
    clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0% 100%, 5% 50%, 0% 0%);
    min-height: 4rem;
    margin: 0 1rem;
    padding: 1rem 2rem;
}

.arrow-container {
    margin: 0 auto;
    max-width: 800px;

    .arrow-info {
        @extend .arrow;
        padding-left: 3.5rem;
    }
}

.arrow-header {
    background-color: $light;
    border-radius: 10px;
    margin: auto;
    max-width: 350px;
}

