@import '~nouislider/distribute/nouislider.css';

.label-filter {
    color: #108ACE;
}

input[type="text"]:read-only { background: white; }

#sliderParticipants .noUi-connect {
    background: #108ACE;
}

#sliderDistance .noUi-connect {
    background: #108ACE;
}


