@import "variables";

//forms
.form-kyosc {
    font-family: $font-text;
    font-weight: $weight-text;
    color: theme-color-level('dark');

    h1 {
        font-family: $title;
    }

    span {
        font-weight: $weight-light-text;
    }

    label {
        color: $light;
    }

    a:hover {
        text-decoration: none;
        color: initial;
    }

    p {
        font-family: $font-text;
        font-weight: $weight-text;
        color: theme-color-level('kblue-typo');
    }

    small {
        font-family: $font-text;
        font-weight: $weight-light-text;
    }

    .btn-login {
        background-color: theme-color-level('kgreen');
        font-family: $title;
        font-size: $font-size-btn;
        height: fit-content;

        &:hover {
            color: white;
      }
    }

    .btn-participation {
        font-family: $title;
        font-size: $font-size-btn;

        &:hover {
            color: white;
        }
    }

    .btn-register {
        background-color: theme-color-level('korange');
        font-family: $title;
        font-size: $font-size-btn;

        &:hover {
            color: white;
      }
    }

    .btn-delete {
        background-color: theme-color-level('kdelete');
        font-family: $title;
        font-size: $font-size-btn;

        &:hover {
            color: white;
        }
    }

    .btn-profil {
        background-color: theme-color-level('kblue-typo');
        font-family: $title;
        font-size: $font-size-btn;
        color: white!important;

        &:hover {
            color: theme-color-level('dark')!important;
      }
     }

    input, textarea {
        font-family: $font-text;
        font-weight: $weight-text;
        color: theme-color-level('dark');

        &::placeholder, label {
            color: theme-color-level('kblue-typo');
            font-weight: $weight-secondary-title;
      }
    }

    .mandatory {
        color: theme-color-level('kred');
    }

    .form-check {
        padding-left: 0;
    }
}

.top-20-vh {
    margin-top: 20vh;
}

.lisible-text {
    background-color: $transparent-black;
    border-radius: 20px;
    color: $light;
    padding: 10px;
}

.img-goutte {
    width: 30px;
    height: auto;
}

.custom-file {
    label {
        color: theme-color-level('kblue-typo');
        font-weight: $weight-secondary-title;
  }
}

.img-display {
    height: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.width-margin {
    width: inherit;
}

.profil-picture-border {
    border: 4px dashed #e0e0e0;
    display: flex;
    outline: none;
    padding: 10px;
    min-height: 100px;
    transition: border-color 0.1s linear;
    align-items: center;
    justify-content: center;
}

.profil-photo {
    max-width: 500px;
    max-height: 600px;
    border-radius: 25%;
    box-shadow: 5px 5px 2px $transparent-black;
}

.fileUpload :hover {
    cursor: pointer;
}

.btn-challenge-creation {
    background-color: theme-color-level('kblue-typo');
    border-color: theme-color-level('kblue-typo');
    color: white;
    justify-content: center;
    margin-top: 2em;
    align-self: center;
    font-size: 1em;
}

.form-background {
    background-color: theme-color-level('kblue-typo');
    border-radius: 25px;
    color: $light;
    margin: auto;
    padding: 5px 15px;
    width: 97%;
}

.form-group-cgu {
    label {
        background-color: theme-color-level('kblue-typo');
        border-radius: 25px;
        color: $light;
        padding: 10px;
    }
}

.form-control {
    border-color: theme-color-level('kblue-typo');
    color: theme-color-level('kblue-typo');
    font-size: inherit;

    &::placeholder {
        color: theme-color-level('kblue-typo');
  }
}

.custom-file-label::after {
    content: "PARCOURIR";
}

//select2 profil-show
.select2-selection, .select2-selection__choice {
    color: theme-color-level('kblue-typo');
    background-color: white!important;
    border: 1px solid theme-color-level('kblue-typo')!important;
}

.select2-selection__choice__remove {
    border-right: 1px solid theme-color-level('kblue-typo')!important;
    color: theme-color-level('dark')!important;
}

.select2 {
    width:100%!important;
}

//checkbox CGU register
input[type="checkbox"].demo2 {
    display: none;
}

input[type="checkbox"].demo2 + label::before {
    border: 2px solid $light;
    border-radius: 20%;
    color: transparent;
    content:'✓';
    cursor: pointer;
    font-weight: bold;
    padding: 2px 6px;
    margin-right: 0.6rem;
}

input[type="checkbox"].demo2:checked + label::before {
    cursor: pointer;
    color: $light;
    content:'✓';
}

.cgu-link {
    color: $light;
}

.cgu-link:hover {
    text-decoration: none;
    transform: scale(1.2);
}
