{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="title-errors py-3">Erreur 404... :(</h1>

    <div class="text-center row errors-content">
        <img class="errors-img" src="{{ asset('uploads/logo/universKyosc.png') }}">
        <div class="errors-text">
            <p class="p-3">
                La page que vous avez demandé n'existe pas, peut-être avez-vous fait une faute de frappe ? <br><br><br>
                Si non, <a href="{{ path('home') }}">retour sur la page d'accueil</a>.
            </p>
        </div>
    </div>

{% endblock %}