<form method="post" action="{{ path('profil_delete', {'id': user.id}) }}" onsubmit="return confirm('Etes vous certain·e de vouloir supprimer votre compte ? Cette action sera irréversible.');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-delete m-1">Supprimer mon compte</button>
</form>
