<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Invitation à une aventure</title>
</head>
    <body>
        <h1>Invitation à s'inscrire à une aventure KYOSC</h1>
        <p>Hello, vous avez été convié·e·s par {{ user.firstName }} {{ user.lastName }} à rejoindre l'aventure "{{ challenge.title }}".</p>
        <p>Voici le lien pour voir les détails de celle-ci:</p>
        <p>
            <a href="{{url('challenge_show', {id: challenge.id}) }}">Voir l'aventure</a>
        </p>
        <a href="https://kyosc.com/">
            <img src="https://kyosc.com/build/images/logo/kyoscblanc.0fb22059.png" style="height: 150px;background-color: black;">
        </a>
        <p>A bientôt sur la plateforme !</p>
        <p>l'équipe Kyosc</p>
    </body>
</html>
